# Instagram
IG_BOT_USERNAME=votre_email@gmail.com
IG_BOT_PASSWORD=votre_mot_de_passe
IG_SESSIONID=votre_sessionid_instagram
IG_TARGET_USERNAME=compte_cible

# TikTok
TT_SESSIONID=votre_sessionid_tiktok
TT_TARGET_USERNAME=compte_cible

# Facebook
FB_TARGET_USERNAME=compte_cible
FB_USER_ID=votre_user_id
FB_XS=votre_xs_cookie

PORT=3002
